# Ignore selected folders
Compiled Material/
Exams/Midterm/Past/Midterm-Spring*
Exams/Midterm/Past/Midterm-Fall*
Exams/Midterm/note_to_self.txt
Exams/Midterm/question-bank*
Exams/Final/Final.pdf
Exams/Final/Final.tex
Homeworks/
Quizzes/
References/
*/archived/
project_files/
project.qmd

# Ignore temporary files
.DS_Store
*/.vscode/
/.quarto/
